In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
from pathlib import Path
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

import warnings
warnings.filterwarnings('ignore')

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://postgres:password@localhost:5432/sector_analysis_performance')

In [4]:
from dotenv import load_dotenv
load_dotenv()

True

In [5]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("alpaca_api_key")
alpaca_secret_key = os.getenv("alpaca_secret_key")

# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

ValueError: ('Key ID must be given to access Alpaca trade API', ' (env: APCA_API_KEY_ID)')

In [6]:
# Set timeframe to ‘1D’
timeframe = "1D"

In [7]:
# Set start and end datetimes: 5 years.
start_date = pd.Timestamp("2018-02-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-01-31", tz="America/New_York").isoformat()

In [8]:
                        
# Set the ticker information
                        
stock_tickers = ["XLE","XLF","XLRE", "XLK", "XLP", "XLB", "XLI", "XLV", "XLU", "XLY", "XLC"]

In [15]:
                    
# Get 3 year’s worth of historical price data for Microsoft and Coca-Cola
stock_ticker_df = alpaca.get_barset(
    stock_tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,
).df
                        
# Display sample data
stock_ticker_df.head(50)

                             XLB                                        XLC  \
                            open     high      low   close      volume open
time
2018-02-07 00:00:00-05:00    NaN      NaN      NaN     NaN         NaN  NaN
2018-02-08 00:00:00-05:00    NaN      NaN      NaN     NaN         NaN  NaN
2018-02-09 00:00:00-05:00    NaN      NaN      NaN     NaN         NaN  NaN
2018-02-12 00:00:00-05:00  58.88  59.9500  58.7100  59.600   9802061.0  NaN
2018-02-13 00:00:00-05:00  59.36  59.7200  59.2200  59.455   6546863.0  NaN
2018-02-14 00:00:00-05:00  58.96  60.3700  58.8400  60.250   7487715.0  NaN
2018-02-15 00:00:00-05:00  60.68  60.7200  59.9600  60.700   5253495.0  NaN
2018-02-16 00:00:00-05:00  60.52  61.0700  60.2100  60.480   7174858.0  NaN
2018-02-20 00:00:00-05:00  60.22  60.6639  59.9900  60.200   3700436.0  NaN
2018-02-21 00:00:00-05:00  60.26  61.0700  59.9900  60.000   3506569.0  NaN
2018-02-22 00:00:00-05:00  60.26  60.9600  60.1800  60.410   4269624.0  NaN
2018-02-23 00:00:00-05:00  60.75  61.3100  60.4400  61.300   3127593.0  NaN
2018-02-26 00:00:00-05:00  61.55  61.5950  60.9460  61.560   3007165.0  NaN
2018-02-27 00:00:00-05:00  61.50  61.5900  60.7100  60.710   5520889.0  NaN
2018-02-28 00:00:00-05:00  60.88  60.9400  59.6200  59.620   4916674.0  NaN
2018-03-01 00:00:00-05:00  59.60  59.8500  58.5800  59.020   9127095.0  NaN
2018-03-02 00:00:00-05:00  58.67  59.1200  58.3650  58.940   7515007.0  NaN
2018-03-05 00:00:00-05:00  58.69  59.9100  58.6100  59.730   6060112.0  NaN
2018-03-06 00:00:00-05:00  60.01  60.8500  59.7200  60.400   8259492.0  NaN
2018-03-07 00:00:00-05:00  59.76  60.3400  59.6600  60.170   8096760.0  NaN
2018-03-08 00:00:00-05:00  60.31  60.4300  59.8200  60.230   5029269.0  NaN
2018-03-09 00:00:00-05:00  60.61  61.3500  60.3800  61.320   4575391.0  NaN
2018-03-12 00:00:00-04:00  61.39  61.6900  61.0500  61.160   4516068.0  NaN
2018-03-13 00:00:00-04:00  61.50  61.7448  60.8500  60.910   5826664.0  NaN
2018-03-14 00:00:00-04:00  61.19  61.2000  60.0500  60.155   5128251.0  NaN
2018-03-15 00:00:00-04:00  60.25  60.3000  59.3700  59.370   4495393.0  NaN
2018-03-16 00:00:00-04:00  59.04  59.4700  58.9300  59.150   5152101.0  NaN
2018-03-19 00:00:00-04:00  58.98  59.0200  57.8740  58.300   6065011.0  NaN
2018-03-20 00:00:00-04:00  58.51  58.7000  58.1200  58.250   3483850.0  NaN
2018-03-21 00:00:00-04:00  58.38  59.4300  58.1800  58.890   4584730.0  NaN
2018-03-22 00:00:00-04:00  58.43  58.6364  57.1050  57.135   6892552.0  NaN
2018-03-23 00:00:00-04:00  57.27  57.5600  55.9700  56.030   6770009.0  NaN
2018-03-26 00:00:00-04:00  56.68  57.2200  56.1500  57.170   5576320.0  NaN
2018-03-27 00:00:00-04:00  57.32  57.6800  56.3000  56.590   6965812.0  NaN
2018-03-28 00:00:00-04:00  56.69  56.9000  55.6900  55.870  11539912.0  NaN
2018-03-29 00:00:00-04:00  56.13  57.2400  56.0750  56.940   5847747.0  NaN
2018-04-02 00:00:00-04:00  56.75  57.0300  55.2100  55.690   8925420.0  NaN
2018-04-03 00:00:00-04:00  55.83  56.6500  55.4800  56.490   6467067.0  NaN
2018-04-04 00:00:00-04:00  55.55  56.9050  55.2302  56.840   6176231.0  NaN
2018-04-05 00:00:00-04:00  57.13  58.1200  57.0400  57.930   7256373.0  NaN
2018-04-06 00:00:00-04:00  57.35  57.6200  56.1500  56.520   7555755.0  NaN
2018-04-09 00:00:00-04:00  56.82  57.5000  56.4200  56.820   6017496.0  NaN
2018-04-10 00:00:00-04:00  57.58  58.3115  57.4950  58.000  11437096.0  NaN
2018-04-11 00:00:00-04:00  57.57  57.7950  57.3400  57.550   6169194.0  NaN
2018-04-12 00:00:00-04:00  57.82  58.4100  57.6700  58.170   3170640.0  NaN
2018-04-13 00:00:00-04:00  58.49  58.6500  57.9000  58.115   4115468.0  NaN
2018-04-16 00:00:00-04:00  58.54  58.9750  58.2400  58.890   5251272.0  NaN
2018-04-17 00:00:00-04:00  59.27  59.7300  59.0100  59.550   4445225.0  NaN
2018-04-18 00:00:00-04:00  59.90  60.2500  59.7600  59.980   4577063.0  NaN
2018-04-19 00:00:00-04:00  60.06  60.0600  59.1000  59.350   5574686.0  NaN

                                                 ...    XLV                    \
                          high low close volume  ...   open     high      low
time                                             ...
2018-02-07 00:00:00-05:00  NaN NaN   NaN    NaN  ...    NaN      NaN      NaN
2018-02-08 00:00:00-05:00  NaN NaN   NaN    NaN  ...    NaN      NaN      NaN
2018-02-09 00:00:00-05:00  NaN NaN   NaN    NaN  ...    NaN      NaN      NaN
2018-02-12 00:00:00-05:00  NaN NaN   NaN    NaN  ...  82.63  83.5149  81.8900
2018-02-13 00:00:00-05:00  NaN NaN   NaN    NaN  ...  82.39  83.1150  81.8800
2018-02-14 00:00:00-05:00  NaN NaN   NaN    NaN  ...  82.40  84.0150  82.3200
2018-02-15 00:00:00-05:00  NaN NaN   NaN    NaN  ...  84.44  84.8300  83.5900
2018-02-16 00:00:00-05:00  NaN NaN   NaN    NaN  ...  84.38  86.0100  84.3800
2018-02-20 00:00:00-05:00  NaN NaN   NaN    NaN  ...  85.00  85.2800  84.2300
2018-02-21 00:00:00-05:00  NaN NaN   NaN    NaN  ...  84.46  85.5900  84.1100
2018-02-22 00:00:00-05:00  NaN NaN   NaN    NaN  ...  84.39  84.9900  83.7900
2018-02-23 00:00:00-05:00  NaN NaN   NaN    NaN  ...  84.49  85.3400  84.1200
2018-02-26 00:00:00-05:00  NaN NaN   NaN    NaN  ...  85.48  86.5100  85.4800
2018-02-27 00:00:00-05:00  NaN NaN   NaN    NaN  ...  86.41  86.6950  85.5100
2018-02-28 00:00:00-05:00  NaN NaN   NaN    NaN  ...  85.79  85.9000  84.1200
2018-03-01 00:00:00-05:00  NaN NaN   NaN    NaN  ...  83.99  84.4200  82.1700
2018-03-02 00:00:00-05:00  NaN NaN   NaN    NaN  ...  82.35  83.8200  82.3403
2018-03-05 00:00:00-05:00  NaN NaN   NaN    NaN  ...  83.26  84.6450  83.0800
2018-03-06 00:00:00-05:00  NaN NaN   NaN    NaN  ...  84.59  84.7300  83.8600
2018-03-07 00:00:00-05:00  NaN NaN   NaN    NaN  ...  83.56  84.8000  83.5300
2018-03-08 00:00:00-05:00  NaN NaN   NaN    NaN  ...  84.94  85.3500  84.8000
2018-03-09 00:00:00-05:00  NaN NaN   NaN    NaN  ...  85.80  86.5400  85.4800
2018-03-12 00:00:00-04:00  NaN NaN   NaN    NaN  ...  86.54  86.6700  86.0400
2018-03-13 00:00:00-04:00  NaN NaN   NaN    NaN  ...  86.47  86.8500  86.0600
2018-03-14 00:00:00-04:00  NaN NaN   NaN    NaN  ...  86.55  86.7500  85.5500
2018-03-15 00:00:00-04:00  NaN NaN   NaN    NaN  ...  86.13  86.3750  85.5836
2018-03-16 00:00:00-04:00  NaN NaN   NaN    NaN  ...  85.38  85.8500  85.3800
2018-03-19 00:00:00-04:00  NaN NaN   NaN    NaN  ...  85.23  85.3400  83.3250
2018-03-20 00:00:00-04:00  NaN NaN   NaN    NaN  ...  84.20  84.4300  83.6500
2018-03-21 00:00:00-04:00  NaN NaN   NaN    NaN  ...  84.27  84.7300  83.7000
2018-03-22 00:00:00-04:00  NaN NaN   NaN    NaN  ...  82.96  83.0200  81.2200
2018-03-23 00:00:00-04:00  NaN NaN   NaN    NaN  ...  81.44  81.6089  79.6050
2018-03-26 00:00:00-04:00  NaN NaN   NaN    NaN  ...  80.57  81.4300  79.6450
2018-03-27 00:00:00-04:00  NaN NaN   NaN    NaN  ...  81.61  81.8500  79.9000
2018-03-28 00:00:00-04:00  NaN NaN   NaN    NaN  ...  80.59  81.5700  80.4800
2018-03-29 00:00:00-04:00  NaN NaN   NaN    NaN  ...  81.22  81.9900  80.6700
2018-04-02 00:00:00-04:00  NaN NaN   NaN    NaN  ...  81.06  81.4800  78.7400
2018-04-03 00:00:00-04:00  NaN NaN   NaN    NaN  ...  79.98  80.9100  79.4890
2018-04-04 00:00:00-04:00  NaN NaN   NaN    NaN  ...  79.79  82.1400  79.7900
2018-04-05 00:00:00-04:00  NaN NaN   NaN    NaN  ...  82.20  82.2700  81.5400
2018-04-06 00:00:00-04:00  NaN NaN   NaN    NaN  ...  81.17  81.5700  79.1600
2018-04-09 00:00:00-04:00  NaN NaN   NaN    NaN  ...  80.31  81.7900  80.0800
2018-04-10 00:00:00-04:00  NaN NaN   NaN    NaN  ...  81.47  82.3500  81.1950
2018-04-11 00:00:00-04:00  NaN NaN   NaN    NaN  ...  81.42  81.9100  81.2500
2018-04-12 00:00:00-04:00  NaN NaN   NaN    NaN  ...  81.80  82.3000  81.7400
2018-04-13 00:00:00-04:00  NaN NaN   NaN    NaN  ...  82.30  82.3700  81.4300
2018-04-16 00:00:00-04:00  NaN NaN   NaN    NaN  ...  82.47  82.8200  82.2800
2018-04-17 00:00:00-04:00  NaN NaN   NaN    NaN  ...  83.15  83.3400  82.7150
2018-04-18 00:00:00-04:00  NaN NaN   NaN    NaN  ...  83.37  83.5150  82.8300
2018-04-19 00:00:00-04:00  NaN NaN   NaN    NaN  ...  83.08  83.1600  82.2310

                                                   XLY                      \
                             close      volume    open      high       low
time
2018-02-07 00:00:00-05:00      NaN         NaN     NaN       NaN       NaN
2018-02-08 00:00:00-05:00      NaN         NaN  104.46  104.7300  100.0800
2018-02-09 00:00:00-05:00      NaN         NaN  101.14  101.6659   97.1001
2018-02-12 00:00:00-05:00  82.8600  12330849.0  101.79  102.7650  100.7453
2018-02-13 00:00:00-05:00  82.9200   7730724.0  101.79  102.9700  101.6200
2018-02-14 00:00:00-05:00  83.8600   9151964.0  102.24  104.5700  102.1700
2018-02-15 00:00:00-05:00  84.8300   8751008.0  105.00  105.3000  103.8700
2018-02-16 00:00:00-05:00  85.4000   8527735.0  104.97  105.6300  104.5600
2018-02-20 00:00:00-05:00  84.4700   8024381.0  104.51  105.6000  104.0600
2018-02-21 00:00:00-05:00  84.1200   8126563.0  104.94  106.0100  104.3300
2018-02-22 00:00:00-05:00  83.9900   5726614.0  104.83  105.2499  104.1400
2018-02-23 00:00:00-05:00  85.3300   4824509.0  105.05  105.9000  104.5600
2018-02-26 00:00:00-05:00  86.4000   5432369.0  106.31  106.7900  106.0500
2018-02-27 00:00:00-05:00  85.5100   6360480.0  106.90  106.9000  104.5200
2018-02-28 00:00:00-05:00  84.1300   5547864.0  105.10  105.5400  104.0500
2018-03-01 00:00:00-05:00  82.8000  11382254.0  104.18  104.6800  101.9200
2018-03-02 00:00:00-05:00  83.6500   9970941.0  101.81  103.2250  101.2900
2018-03-05 00:00:00-05:00  84.3900   9155352.0  102.67  104.5000  102.4200
2018-03-06 00:00:00-05:00  84.2900   8207196.0  104.76  105.0500  104.0659
2018-03-07 00:00:00-05:00  84.7000   6381514.0  103.96  104.5350  103.4400
2018-03-08 00:00:00-05:00  85.2800   4898778.0  104.69  104.8000  104.2950
2018-03-09 00:00:00-05:00  86.5200   7769859.0  105.33  106.2700  105.0350
2018-03-12 00:00:00-04:00  86.1300   4990870.0  106.59  107.0300  106.3400
2018-03-13 00:00:00-04:00  86.2600   5757614.0  107.18  107.4000  105.6700
2018-03-14 00:00:00-04:00  85.8200   8715310.0  106.39  106.5300  105.4400
2018-03-15 00:00:00-04:00  85.7000   5591100.0  105.92  106.1500  105.4200
2018-03-16 00:00:00-04:00  85.3900   6321848.0  105.32  105.8700  105.1700
2018-03-19 00:00:00-04:00  84.0100   6578901.0  104.79  104.8300  103.1100
2018-03-20 00:00:00-04:00  84.1100   4936402.0  104.06  104.6350  104.0100
2018-03-21 00:00:00-04:00  83.7600   4862341.0  104.62  105.2000  104.0900
2018-03-22 00:00:00-04:00  81.3500  13592202.0  103.60  103.8600  102.1400
2018-03-23 00:00:00-04:00  79.6500  10333584.0  102.48  102.9200  100.1500
2018-03-26 00:00:00-04:00  81.3200   8677901.0  101.80  103.2400  100.8110
2018-03-27 00:00:00-04:00  80.3700   9843617.0  103.56  103.7800  100.4700
2018-03-28 00:00:00-04:00  80.7900   9561263.0  100.54  101.2100   99.1830
2018-03-29 00:00:00-04:00  81.3900   6420017.0  100.00  101.7900   99.2800
2018-04-02 00:00:00-04:00  79.5468  10109156.0  100.68  100.8200   97.4810
2018-04-03 00:00:00-04:00  80.7700   7888701.0   99.01  100.2200   98.2600
2018-04-04 00:00:00-04:00  81.9100   8416665.0   98.17  101.7100   98.1400
2018-04-05 00:00:00-04:00  81.8500   6980820.0  102.37  103.2000  101.7950
2018-04-06 00:00:00-04:00  79.8700  11311993.0  101.88  102.7900  100.0300
2018-04-09 00:00:00-04:00  80.6700   6526572.0  101.39  101.9810  100.3400
2018-04-10 00:00:00-04:00  82.0300   7619697.0  101.73  101.9300  100.7500
2018-04-11 00:00:00-04:00  81.3500   5739678.0  101.24  102.2650  101.0000
2018-04-12 00:00:00-04:00  81.9100   4598470.0  101.97  102.3800  101.4250
2018-04-13 00:00:00-04:00  81.8700   6207776.0  102.33  102.5100  100.8500
2018-04-16 00:00:00-04:00  82.5200   6421883.0  101.85  102.3700  101.3900
2018-04-17 00:00:00-04:00  83.1600   5185281.0  102.97  104.0800  102.9700
2018-04-18 00:00:00-04:00  83.2300   4121570.0  104.24  104.8650  104.1500
2018-04-19 00:00:00-04:00  82.5500   5403578.0  104.39  104.6300  103.5362


                            close      volume
time
2018-02-07 00:00:00-05:00     NaN         NaN
2018-02-08 00:00:00-05:00  100.15  14040512.0
2018-02-09 00:00:00-05:00  100.84  19138030.0
2018-02-12 00:00:00-05:00  102.21  11212090.0
2018-02-13 00:00:00-05:00  102.74   4631160.0
2018-02-14 00:00:00-05:00  104.36   6136119.0
2018-02-15 00:00:00-05:00  105.29   5111940.0
2018-02-16 00:00:00-05:00  104.80   4379673.0
2018-02-20 00:00:00-05:00  104.47   5475737.0
2018-02-21 00:00:00-05:00  104.33   4391624.0
2018-02-22 00:00:00-05:00  104.46   4026752.0
2018-02-23 00:00:00-05:00  105.89   2666285.0
2018-02-26 00:00:00-05:00  106.78   3228850.0
2018-02-27 00:00:00-05:00  104.53   5106156.0
2018-02-28 00:00:00-05:00  104.06   4956452.0
2018-03-01 00:00:00-05:00  102.94   8696798.0
2018-03-02 00:00:00-05:00  103.06   6439377.0
2018-03-05 00:00:00-05:00  104.27   4494372.0
2018-03-06 00:00:00-05:00  105.01   6811112.0
2018-03-07 00:00:00-05:00  104.28   3878266.0
2018-03-08 00:00:00-05:00  104.62   3487702.0
2018-03-09 00:00:00-05:00  106.25   3259623.0
2018-03-12 00:00:00-04:00  106.58   3858558.0
2018-03-13 00:00:00-04:00  105.85   5029699.0
2018-03-14 00:00:00-04:00  105.68   4007379.0
2018-03-15 00:00:00-04:00  105.59   3138408.0
2018-03-16 00:00:00-04:00  105.17   2990090.0
2018-03-19 00:00:00-04:00  103.88   5070506.0
2018-03-20 00:00:00-04:00  104.51   2966375.0
2018-03-21 00:00:00-04:00  104.41   4718367.0
2018-03-22 00:00:00-04:00  102.19   6458756.0
2018-03-23 00:00:00-04:00  100.17   7824351.0
2018-03-26 00:00:00-04:00  103.14   6151324.0
2018-03-27 00:00:00-04:00  101.13   5841143.0
2018-03-28 00:00:00-04:00   99.87  12419511.0
2018-03-29 00:00:00-04:00  101.30   6754577.0
2018-04-02 00:00:00-04:00   98.44  10566509.0
2018-04-03 00:00:00-04:00   99.69   6844862.0
2018-04-04 00:00:00-04:00  101.51   6946904.0
2018-04-05 00:00:00-04:00  102.87   3862552.0
2018-04-06 00:00:00-04:00  100.68   8116707.0
2018-04-09 00:00:00-04:00  100.45   3951901.0
2018-04-10 00:00:00-04:00  101.66   6003702.0
2018-04-11 00:00:00-04:00  101.35   4455513.0
2018-04-12 00:00:00-04:00  101.78   2716357.0
2018-04-13 00:00:00-04:00  101.23   4030613.0
2018-04-16 00:00:00-04:00  101.97   3731165.0
2018-04-17 00:00:00-04:00  103.86   3601537.0
2018-04-18 00:00:00-04:00  104.37   3010821.0
2018-04-19 00:00:00-04:00  104.04   3658944.0

[50 rows x 55 columns]

In [10]:
stock_ticker_close_df = stock_ticker_df.iloc[:, stock_ticker_df.columns.get_level_values(1)=='close']
stock_ticker_close_df.columns = stock_ticker_close_df.columns.droplevel(1)

In [11]:
len(stock_ticker_close_df)

1003

In [12]:
stock_ticker_close_df.isnull().sum()

XLB      3
XLC     91
XLE      3
XLF      3
XLI      3
XLK      3
XLP      3
XLRE     3
XLU      3
XLV      3
XLY      3
dtype: int64

In [13]:
stock_ticker_close_df.dropna(inplace = True)
stock_ticker_close_df.isnull().sum()

XLB     0
XLC     0
XLE     0
XLF     0
XLI     0
XLK     0
XLP     0
XLRE    0
XLU     0
XLV     0
XLY     0
dtype: int64

In [14]:
stock_ticker_close_df.to_sql('stock_ticker_close', engine)